<div class="location-list-body">
    <div id="location-list">
        <h3 class="location-list-title">Explored Locations</h3>
        <div id="locations-container"></div>
    </div>
    <div id="map"></div>
</div>
<script>
    mapboxgl.accessToken = {{{token}}}
    const locations = {{{locations}}};
</script>