<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>

    <!-- Reset Style Sheet -->
    <link rel="stylesheet" type="text/css" href="/public/css/reset.css">

    <!-- Mapbox CSS -->
    <link href="https://api.mapbox.com/mapbox-gl-js/v3.8.0/mapbox-gl.css" rel="stylesheet">

    <!-- Static CSS -->
    <link rel="stylesheet" type="text/css" href="/public/css/styles.css">

    <!-- Boxicons CSS -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href={{css}}>

    <!-- Mapbox Javascript -->
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.8.0/mapbox-gl.js"></script>
</head>
<body>

    <!-- NAV BAR -->
    <nav>
        <div class="nav-bar">
            <i class='bx bx-menu sidebarOpen'></i>
            <span class="logo navLogo"><a href="#">NatureScape</a></span>

            <div class="menu">

                <div class="logo-toggle">
                    <span class="logo"><a href="#">NatureScape</a></span>
                    <i class='bx bx-x-circle sidebarClose'></i>
                </div>

                <ul class="nav-links">
                    <li><a href="/">Home</a></li>
                    <li><a href="/locationlist">Locations</a></li>
                    <li><a href="/images">Gallery</a></li>
                    <li><a href="#">Profile</a></li>
                </ul>
            </div>
            <div class="darkLight-searchBox">
                <div class="dark-light">
                    <i class='bx bx-moon moon' ></i>
                    <i class='bx bx-sun sun' ></i>
                </div>

                <div class="accountIcon">
                    <div class="account">
                        <a href="#"><i class='bx bx-user' ></i></a>
                    </div>
                </div>

                {{!-- <div class="searchBox">
                    <div class="searchToggle">
                        <i class='bx bx-x-circle cancel'></i>
                        <i class='bx bx-search search'></i>
                    </div>

                    <div class="search-field">
                        <input type="text" placeholder="Search...">
                        <i class='bx bx-search'></i>
                    </div>
                </div> --}}
            </div>
        </div>
    </nav>
    <!-- NAV BAR -->

    {{!-- <div class="container">
        <header>
            <nav>
                <div id="navLinks">
                    <ul>
                        <li><a href="/" class="nav-link">Home Page and Login</a></li>
                        <li><a href="/images" class="nav-link">Images List Page</a></li>
                        <li><a href="/locationlist" class="nav-link">Location List Page</a></li>
                    </ul>
                </div>
                <div id="navWebName">
                    <h1>NatureScape</h1>
                </div>
                <div class="toggle-container">
                    <label class="switch">
                        <input type="checkbox" id="darkModeSwitch" onclick="toggleDarkMode()" />
                        <span class="slider round"></span>
                    </label>
                </div>
            </nav>
        </header>
    </div> --}}
    {{{body}}}
    <script src="/public/js/main.js"></script>
    <script type="module" src={{js}}></script>
</body>
</html>