/* Single image page */
#single-image {
  text-align: center;
  margin-top: 90px;
  margin-bottom: 20px;
}

#single-image-delete {
  margin-bottom: 20px;
}

.all-image-details {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: left;
  margin-bottom: 20px;
  margin-left: 20px;
  text-align: left;
}

.single-photo-description {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  text-align: left;
}

.responsive-img {
  max-width: 100%;
  max-height: 100vh;
  height: auto;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  flex: 1 1 calc(33.333% - 10px);
  object-fit: contain;
  margin: 0 auto;
}

/* Edit image page */
#edit-image {
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

#edit-image h1 {
  margin-bottom: 20px;
  margin-top: 90px;
}

.edit-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.edit-form label {
  display: block;
  margin-bottom: 5px;
}

.edit-form input,
.edit-form textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 15px;
}

#edit-image-submit-button {
  width: auto;
  padding: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}
