body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: var(--body-color);
}

.edit-image-body {
    justify-items: center;
}

#edit-image h1#edit-image-h1 {
    color: var(--body-text-color);
    text-align: center;
}

#edit-image form#edit-image div {
    margin-top: 10px;
    margin-bottom: 10px;
}

#edit-image form#edit-image div label {
    color: var(--body-text-color);
}

#edit-image form#edit-image div textarea#photo_description {
    height: 150px;
    width: 400px;
}

#edit-image form#edit-image button#edit-image-submit-button {
    margin-left: 190px;
}