<div class="landing-page" id="landing-page">
    <h1>{{title}}</h1>
    <p>Frame the moment. Share the journey.</p>
    <form action="/logout">
      <button type="submit" id="logoutButton"> Logout </button>
    </form>
</div>