<div class="landing-page" id="landing-page">
    <h1>{{title}}</h1>
    <p>Frame the moment. Share the journey.</p>
    <button type="button" onclick="logoutUser"> Logout </button>
</div>
{{!-- <script src="/public/js/login.js"></script> --}}