<div class="landing-page" id="landing-page">
    <h1>{{title}}</h1>
    <p>Frame the moment. Share the journey.</p>
    <form id="login_form" action="" method="post">
        <div id="loginContainer">
            <div>
                <label for="uname">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Z"/></svg>
                    <input type="text" placeholder="Username" name="uname" required>
                </label>
            </div>
            
            <div>
                <label for="passwd">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M240-80q-33 0-56.5-23.5T160-160v-400q0-33 23.5-56.5T240-640h40v-80q0-83 58.5-141.5T480-920q83 0 141.5 58.5T680-720v80h40q33 0 56.5 23.5T800-560v400q0 33-23.5 56.5T720-80H240Zm240-200q33 0 56.5-23.5T560-360q0-33-23.5-56.5T480-440q-33 0-56.5 23.5T400-360q0 33 23.5 56.5T480-280ZM360-640h240v-80q0-50-35-85t-85-35q-50 0-85 35t-35 85v80Z"/></svg>
                    <input type="password" placeholder="Password" name="passwd" required>
                </label>
            </div>
            
            <div id="rememberMe">
                <span><input type="checkbox" checked="checked" name="remember"> Remember me</span>
                <button type="submit">Login</button>
            </div>
        </div>
    </form>
        <div id="forgotPassword">
            <span id="forgotPasswordLink"><a href="#">Forgot password</a></span>
            <span id="accountCreateLink"><a href="#">Create an account</a></span>
        </div>
    <form id="feedback_form" method="post">
        <div id="feedback">
            <label for="feedback">
                <input type="text" placeholder="Provide your feedback here.">
                <button type="submit">Submit feedback</button>
            </label>
        </div>
    </form>
</div>
<script src="/public/js/login.js"></script>